body {
    font-family: "Montserrat", serif;
    color: #303030;
}

/* ---------------------------------------- 1. Header ------------------------------------------------- */
.nav-link {
    color: #c0c0c0;
    font-weight: 500;
}

/* ---------------------------------------- 2. Footer ------------------------------------------------- */

/* Used to make the footer social icons in white color. */
.fa-brands {
    color: white;
}

#footer-color {
    background-color: #303030;
}

/* Applied on Landing page, Experience page & Contact us page */
.feedback-bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0 100%),
        url("../images/grey-background.png");
    background-size: cover;
    background-attachment: scroll;
    margin: 10px auto;
    border-radius: 10px;
}

.brand-btn {
    background-color: #c0c0c0;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
}

.brand-btn:hover {
    background-color: #303030;
}

a {
    text-decoration: none;
}

/* Utility Classes for Margin*/
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-200 {
    margin-top: 200px;
}

.mt-300 {
    margin-top: 300px;
}

.mt-400 {
    margin-top: 400px;
}

.mb-100 {
    margin-bottom: 100px;
}

/* Utility Classes for Font Size*/

/* Used in Available Apartments, Location Detail, Property Type Apartment, Rooms & House*/
.fs-14 {
    font-size: 14px;
}

/* Used in Landing page */
.fs-15 {
    font-size: 15px;
}

/* Used in Landing page, Booking page & Thankyou page*/
.fs-18 {
    font-size: 18px;
}

/* Used in Booking page */
.fs-20 {
    font-size: 20px;
}

/* Used in Apartments page & Booking page*/
.fs-24 {
    font-size: 24px;
}

/* Used in Landing page */
.fs-26 {
    font-size: 26px;
}

/* Used in Thankyou page */
.fs-40 {
    font-size: 40px;
}

/* Used in Landing page, About, Apartments, Booking Enquiry */
/* Used in Contact Us, Corporate, Experience, FAQs, Join Sterling */
/* Locations, Search Locations & View Apartment Detail */
.fs-48 {
    font-size: 48px;
}

/* Used in Corporate page */
.fs-50 {
    font-size: 50px;
}

/* Used in Landing page */
.fs-56 {
    font-size: 56px;
}

/* Used in ThankYou page */
.fw-semibold {
    font-weight: 600;
}

/* Used in corporate, experience & view apartment detail page. */
.text-charcoal-black {
    color: #303030;
}

/* Used in Thank You Page */
.bg-pale-gray {
    background-color: #ececec;
}

/* Used in Booking Page */
.border-radius-16 {
    border-radius: 16px;
}




/* Media Query */

@media screen and (max-width: 768px) {
    /* Used in Booking Enquiry, General Enquiry, Corporate Enquiry, Join Sterling Enquiry, Locations*/
    .mb-sm-40 {
        margin-bottom: 40px;
    }

    /* Used in Landing page, Apartments & Search Location page */
    .search-container {
        height: fit-content;
    }

    /* Used in Landing page & About page*/
    .fs-sm-28 {
        font-size: 28px;
    }

    /* Used in Landing page, Booking Enquiry, About, Contact Us, Corporate and many more. */
    .fs-sm-25 {
        font-size: 25px;
    }

    .fs-sm-16 {
        font-size: 16px;
    }

    .mt-sm-25 {
        margin-top: 25px;
    }

    .mt-sm-75 {
        margin-top: 75px;
    }

    .mt-sm-150 {
        margin-top: 150px;
    }

    .mt-sm-200 {
        margin-top: 200px;
    }
}
