* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#top-header {
    background-color: #b1895a;
    color: white;
}

#top-header a {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    color: #b1895a;
    font-weight: medium;
    font-size: 26px;
    letter-spacing: 11%;
}

#home-hero-banner-img {
    background-image: url("../images/home_banner.png");
    background-size: cover;
    /* height: 632px; */
}

.nav-link {
    color: black;
    font-weight: normal;
}

.nav-link-transition {
    position: relative;
}

.nav-link-transition::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #b1895a;
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link-transition:hover::after {
    opacity: 1;
}

.brand-btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.brand-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.search-container {
    height: 200px;
}

#form-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="text"],
input[type="date"] {
    width: fit-content;
    padding: 10px;
}

input[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
}

.favourite-card {
    width: 299px;
    height: 269px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.neighbourhood-img {
    height: 200px;
    width: 300px;
}

.blog-img {
    height: 620px;
    width: 620px;
    object-fit: cover;
}

#contact-btn {
    color: white;
    border: 1px solid white;
    text-decoration-line: none;
    padding: 10px;
}

#contact-btn:hover {
    background-color: white;
    color: black;
}

#enquiry-btn {
    background-color: white;
    color: black;
    padding: 11px 10px;
    text-decoration: none;
}
#enquiry-btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
a {
    text-decoration: none;
}

.sitemap-link {
    color: white;
}

.fa-brands {
    color: white;
}

#footer-color {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Hiding the logo which is appearing on the left side of the sidebae for desktop screen */
.hide-img-md {
    display: none;
}

/* Benefit - Page */
.benefits-point > li {
    list-style-type: square;
}

.amenities-points > li,
.policy-points > li {
    list-style-type: none;
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(233, 233, 233);
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px 12px;
}

/* Custom Style */
/* Font Family - Google */

.ff-inter {
    font-family: "Inter", sans-serif;
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
}

/* Font Size */
.fs-56 {
    font-size: 56px;
}

.fs-40 {
    font-size: 40px;
}

/* Bootstrap 5 Slider */
.swiper {
    width: 100%;
}

.swiper-slide {
    width: 299px;
    height: 269px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.swiper .swiper-pagination-bullet{
    background: #b1895a;
    height: 10px;
    width: 10px;
    opacity: 0.8;
}

.swiper .swiper-pagination-bullet-active{
    opacity: 1;
    background: #b1895a;
    height: 10px;
    width: 10px;
}

.swiper .swiper-slider-button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #b1895a;
}

/* Media Query */

@media screen and (max-width: 768px) {
    #home-hero-banner-img {
        height: 650px;
    }
    /* Hiding the logo which is appearing on the center of the navbar for small screen */
    .hide-img-sm {
        display: none;
    }

    .show-img-sm {
        display: block;
        margin-right: 100px;
    }

    .margin-sm-right-20 {
        margin-right: 20px;
    }

    #form-elements {
        flex-direction: column;
        height: 200px;
        margin-bottom: 100px;
    }

    input[type="date"],
    input[type="text"] {
        width: 75%;
    }

    #search-btn {
        width: 75%;
    }

    .search-container {
        height: fit-content;
    }

    .favourite-card > .card {
        height: 300px;
        width: 300px;
        margin: 10px;
    }

    .neighbourhood-card {
        height: 320px;
        width: 320px;
    }

    #enquiry-btn {
        display: block;
        width: fit-content;
        margin-top: 20px;
    }

    .fs-56 {
        font-size: 23px;
    }

    .navbar-brand {
        color: #b1895a;
        font-weight: medium;
        font-size: 16px;
        letter-spacing: 5.5%;
    }

    /* Hide Next Previous button */
    .swiper .swiper-slider-button{
        display: none;
    }
}
