/* Color Preference */
/* #000000  Black*/
/* #c0c0c0 Silver*/
/* #EBEBEE Light Gray*/
/* #DFDFE1 Very Light Gray*/
/* #545253 Charcoal Gray*/
/* #131211 Dark Brown/Black */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#top-header {
    background-color: #c0c0c0;
    color: white;
}

#top-header a {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    /* color: #b1895a; */
    font-weight: medium;
    font-size: 26px;
    letter-spacing: 11%;
}

.navbar-brand > img {
    height: 45px;
    width: 45px;
    object-fit: cover;
}



.nav-link {
    color: black;
    font-weight: normal;
}

.nav-link-transition {
    position: relative;
}

.nav-link-transition::after {
    content: "";
    height: 2px;
    width: 100%;
    background: #c0c0c0;
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link-transition:hover::after {
    opacity: 1;
}

.user-active-link{
    font-weight: bold;
}

.brand-btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

.brand-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.brand-btn-invert {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
}

.brand-btn-invert:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.search-container {
    height: 200px;
}


.favourite-card {
    width: 299px;
    height: 269px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.neighbourhood-img {
    height: 200px;
    width: 300px;
}

.blog-img {
    height: 620px;
    width: 620px;
    object-fit: cover;
}

#contact-btn {
    color: white;
    border: 1px solid white;
    text-decoration-line: none;
    padding: 10px;
}

#contact-btn:hover {
    background-color: white;
    color: black;
}

#enquiry-btn {
    background-color: white;
    color: black;
    padding: 11px 10px;
    text-decoration: none;
}
#enquiry-btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
a {
    text-decoration: none;
}

.sitemap-link {
    color: white;
}

.fa-brands {
    color: white;
}

#footer-color {
    background-color: #191919;
}

.benefit-card {
    width: 283px;
    height: 353px;
    padding: 32px 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Hiding the logo which is appearing on the left side of the sidebae for desktop screen */
.hide-img-md {
    display: none;
}

/* Benefit - Page */
.benefits-point > li {
    list-style-type: none;
    font-family: "Inter", sans-serif;
}

.benefits-point > li::before {
    content: "\2713";
    color: #545253;
    margin-right: 20px;
}

.amenities-points > li,
.policy-points > li {
    list-style-type: none;
    border: 1px solid rgb(228, 228, 228);
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px 12px;
}

/* Custom Style */
/* Font Family - Google */

.ff-inter {
    font-family: "Inter", sans-serif;
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
}

.ff-playfair-display {
    font-family: "Playfair Display", serif;
}

/* Font Size */

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-23 {
    font-size: 23px;
}
.fs-24 {
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-48 {
    font-size: 48px;
}
.fs-56 {
    font-size: 56px;
}

/* Font Weight */
.fw-medium {
    font-weight: medium;
}

.fw-semibold{
    font-weight: 600;
}
/* Text Style */
.text-light-brown {
    color: #b1895a;
}

.text-silver{
    color: #c0c0c0;
}

/* Background */
.bg-light-brown {
    background-color: #b1895a;
}

.bg-light-gray {
    background-color: #f1f1f1;
}

.bg-white {
    background-color: #ffffff;
}

.bg-eerie-black {
    background-color: #191919;
}

.bg-pale-gray{
    background-color: #ECECEC;
}

.bg-silver{
    background-color: #c0c0c0;
}

/* Opactity */

.opacity-90 {
    opacity: 0.9;
}

/* Border */
.border-top-light-grey {
    border-top: 2px solid #c0c0c0;
}
.border-radius-16{
    border-radius: 16px;
}
.border-radius-18 {
    border-radius: 18px;
}

/* Bootstrap 5 Slider */

.blog-card {
    height: 417px;
    width: 382px;
    margin-bottom: 10px;
}
.blog-card > img {
    height: 230px;
    width: 382px;
    object-fit: cover;
}
.footer {
    padding: 66px 100px;
}
#footer_bg {
    background-image: url("../images/footer_img.jpg");
    background-size: cover;
}

.footer-bottom-border {
    border-bottom: 10px solid #c0c0c0;
}

.footer-search-btn {
    text-align: center;
    display: block;
    height: 56px;
    width: 187px;
    padding: 12px 15px;
    color: black;
    background-color: #ffffff;
    border-radius: 8px;
}

.footer-search-btn:hover {
    background-color: black;
    color: #ffffff;
}

/* Responsive Timeline */
.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #c0c0c0;
    left: -45px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    content: "";
}

.form-label,
.form-control {
    font-family: "inter";
}

.form-control {
    font-size: 15px;
}

/* Spacing - Padding */
.p-16{
    padding: 16px;
}

/* Slider for Landing Page - Favourites Section */
.swiper {
    width: 100%;
}

.swiper-slide {
    width: 299px;
    height: 269px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.swiper .swiper-pagination-bullet {
    background: #c0c0c0;
    height: 10px;
    width: 10px;
    opacity: 0.8;
}

.swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: #c0c0c0;
    height: 10px;
    width: 10px;
}

.swiper .swiper-slider-button {
    height: 50px;
    width: 50px;
    border-radius: 12px;
    color: #c0c0c0;
    border: none;
    background-color: black;
    padding: 10px;
}

.swiper-slide > a > img {
    height: 349px;
    width: 299px;
    object-fit: cover;
    margin-bottom: 10px;
}

.standard-amenity{
    border: 1px solid rgb(182, 180, 180);
    display: flex;
    align-items: center;
    padding: 10px;
}

.reviews-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-radius: 7px;
}

/* Dashboard */
.nav-item > .nav-link:hover {
    color: #191919;
}
.admin-active-link{
    background-color: #545253;
    color: #ECECEC;
    border-radius: 2px;
}

.admin-active-link:hover{
    color: #ECECEC;
}

/* Media Query */

@media screen and (max-width: 768px) {
    /* Hiding the logo which is appearing on the center of the navbar for small screen */
    .hide-img-sm {
        display: none;
    }

    .show-img-sm {
        display: block;
        margin-right: 100px;
    }

    .margin-sm-right-20 {
        margin-right: 20px;
    }

    .mb-sm-10{
        margin-bottom: 10px;
    }

    .search-container {
        height: fit-content;
    }

    .favourite-card > .card {
        height: 300px;
        width: 300px;
        margin: 10px;
    }

    .neighbourhood-card {
        height: 320px;
        width: 320px;
    }

    #enquiry-btn {
        display: block;
        width: fit-content;
        margin-top: 20px;
    }

    .fs-48{
        font-size: 40px;
    }

    .fs-56 {
        font-size: 23px;
    }

    .navbar-brand {
        font-weight: 500;
        font-size: 15px;
    }

    .reviews-style{
        flex-direction: column;
    }

    .standard-amenity{
        font-size: 14px;
    }


    .swiper-slide {
        padding: 10px;
    }

    .swiper-slide > a > img {
        height: 349px;
        width: fit-content;
        object-fit: contain;
        margin-bottom: 10px;
    }

    #footer-link{
        font-size: 15px;
    }
}
